<h1>Banks Listed</h1>
<br>
<img src="http://almostalwaysthinking.files.wordpress.com/2009/07/hurry-up-wait-piggy-bank-time.jpg?w=455" height="95" width="95" />
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banks.each do |bank| %>
  <tr>
    <td><%= link_to 'Show', bank %></td>
    <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
    <td><%= link_to 'Destroy', bank, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a New Bank', new_bank_path %>
