
<h1><font color="Black">;)</font></h1>

<table>
  <% @users.each do |user| %>
  <tr>
    <% if user.pictures[0] %>
      <td><img src="<%= user.pictures[0].url%>" width=50 height=50 ></img></td>
    <% else %>
      <td></td>
    <% end %>
    <td><h4><%= link_to user.name, user %></h4></td>
  </tr>
<% end %>
</table>






