<body>
  <img src="http://www.google.com/imgres?q=the+word+skills&um=1&hl=en&sa=N&biw=1126&bih=636&tbm=isch&tbnid=wuCzYbdZeLm_YM:&imgrefurl=http://www.123rf.com/photo_10739770_learn-new-skills-word-on-chalkboard-encouragement-to-take-training-course-to-improve-yourself-and-su.html&docid=s_K44Bhs_MjutM&imgurl=http://us.123rf.com/400wm/400/400/iqoncept/iqoncept1109/iqoncept110900137/10739770-learn-new-skills-word-on-chalkboard-encouragement-to-take-training-course-to-improve-yourself-and-su.jpg&w=400&h=290&ei=4THrT7L4PIWM2gWxsvWkAQ&zoom=1&iact=hc&vpx=335&vpy=113&dur=53&hovh=191&hovw=264&tx=169&ty=111&sig=106984528867165869529&page=1&tbnh=135&tbnw=186&start=0&ndsp=15&ved=1t:429,r:11,s:0,i:110"></img>
</body>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
