<h2>Welcome to the Hope Academy Time Bank!</h2>
<br>
</br>
<img src= http://rsfsocialfinance.org/wp-content/uploads/2012/02/timebank.jpg Width = "200" Height = "200"></img>
<p>
  <h3>  A Time Bank is where instead of earning money from someone when you do something, you earn time. So say you do an hour of manual labor that is an hour you can spend to have someone do some manual labor for you.</h3> 
  

